In [ ]:
import pandas as pd

### Importing the actual dataset

In [ ]:
df = pd.read_csv('../Learning/Data/esb.csv')

In [ ]:
df

### We are concatenating the Month and Year column data from the actual dataframe and appending them into a new list

In [ ]:
a=[]
for i in list(range(1,len(df.iloc[0]),13)):
    for j in range(1,14):
        a.append(df.iloc[1][j] + df.iloc[0][i])

In [ ]:
a

### We are replacing the second row values in the actual dataframe with the above concatenated values

In [ ]:
for i in range(1,len(df.iloc[1])):
    df.iloc[1][i] = a[i-1]
    print(df.iloc[1][i])

### We are renaming the column names of the dataframe with the concatenated values having the month and year details

In [ ]:
df.columns = df.iloc[1]

### We are removing the first two rows which are not necessary from the dataframe

In [ ]:
df = df[2:]

In [ ]:
df

### We are removing the other unnecessary rows from the  dataframe using the Index number

In [ ]:
df = df.drop([31,37,38])

In [ ]:
df

### We are obtaining the updated column name of the dataframe

In [ ]:
b=[]
for i in list(range(0,len(df.columns))):
    b.append(df.columns[i])

In [ ]:
b

### We are targetting the 'total' column (for each year) from the entire columns

In [ ]:
c=[]
for i in list(range(13,len(df.columns),13)):
    c.append(b[i])

In [ ]:
c

In [ ]:
len(df.columns)

In [ ]:
len(c)

### We are dropping all the 'total' columns which we obtained above from the dataframe using the 'drop' command

In [ ]:
df = df.drop([c[0],c[1],c[2],c[3],c[4],c[5],c[6],c[7]],axis=1)

In [ ]:
df

In [ ]:
list(df.columns)

### Here we are checking the number of rows present in the updated dataframe

In [ ]:
len(df.index)

### Here we are checking the number of columns present in the updated dataframe

In [ ]:
len(df.columns)

In [ ]:
df.info()

### On converting all the numerical values into 'float' type we observed that there is a special character present in one of the columns

In [ ]:
df.iloc[4][69]

for i in list(range(0,len(df.index))):
    for j in list(range(0,len(df.columns))):
        if df.str.contains('#'):
            print(i)
            print(j)

### We are removing the special character and assigning just the number to that field

In [ ]:
df.iloc[4][69] = 42

### We are considering all the numerical columns using the location function where we consider all the rows and all columns starting from the second one (we are excluding the first one which is the County Council information)

In [ ]:
a = df.iloc[:,1:]

### We are converting all above obtained numerical fields into 'float' type

In [ ]:
a = a.astype(float)

In [ ]:
a

In [ ]:
a.info()

### We are adding the county information from the original dataframe to the new one which can used for grouping while adding the numbers as there are two set of information for some of the county

In [ ]:
a['County Councils'] = df['County Councils']

In [ ]:
a

### We are using the 'groupby' function on the county to add all the numbers based for all the years

In [ ]:
df_new = a.groupby('County Councils').sum()

In [ ]:
df_new

### We are getting all the unique County Council information in a sorted way into a variable

In [ ]:
val1 = set(a['County Councils'])

### By using the 'groupby' function County information is acting as index. Hence we are adding a new coulmn with the County information into the newly created dataframe

In [ ]:
df_new['County Councils'] = sorted(val1)

In [ ]:
df_new

In [ ]:
df_new['County Councils']

df.index = np.arange(1,len(df)+1)

df=df.transpose()

b=df.iloc[0]

# df

df1=df.transpose()

In [ ]:
list(df_new.columns)

In [ ]:
df_new.head()

### We are converting the newly created tidy dataframe into the visualisation required format using 'melt' function from pandas

In [ ]:
df1 = pd.melt(df_new,["County Councils"], var_name = 'Date' , value_name = 'count')

In [ ]:
df1

### We are exporting the new tidy dataframe created above into a new .csv file named 'ess_att.csv' in the below specified path

In [ ]:
df_new.to_csv('../Learning/Data/esb_att.csv',index=False)