In [ ]:
import tabula
import pandas as pd
import numpy as np

filepath = "../Learning/data/Dissertation/Airways/Total_2015.pdf"

In [ ]:
def Page(df):
    df.columns = ['Sr.No','Airports','Passengers']
    df = df.set_index('Sr.No')
    return df

In [ ]:
def Page1(df):
    df = df.columns.to_frame().T.append(df, ignore_index=True)
    df.columns = range(len(df.columns))
    return df

In [ ]:
def Main(df):
    df['Sr.No'] = df['Unnamed: 0'].str.split(" ",expand = True)[0]
    df['Airports'] = df['Unnamed: 0'].str.split(" ",expand = True)[1]
    df = df[['Sr.No','Airports','Unnamed: 2']].set_index('Sr.No')
    #df.columns = ['Airports','Passengers(Aug)']
    return df

In [ ]:
def Main1(df):
    df = df[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([22,30,39,56,57,58])
    df1 = Page(df)
    return df

In [ ]:
df = tabula.read_pdf(filepath,pages = 1, multiple_tables = True)
df_1 = pd.DataFrame(df[0])

In [ ]:
df_1.columns

In [ ]:
df_1 = df_1[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([22,30,39,56,57,58])
df_15_1 = Page(df_1)
df_15_1.columns = ['Airports','Passengers(Jan)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 2, multiple_tables = True)
df_2 = pd.DataFrame(df[0])

In [ ]:
df_15_2 = Main1(df_2)

In [ ]:
df_15_2 = Page(df_15_2)
df_15_2.columns = ['Airports','Passengers(Feb)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 3, multiple_tables = True)
df_3 = pd.DataFrame(df[0])

In [ ]:
df_3 = Main1(df_3)
df_15_3 = Page(df_3)
df_15_3.columns = ['Airports','Passengers(Mar)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 4, multiple_tables = True)
df_4 = pd.DataFrame(df[1])

In [ ]:
df_4_1 = Page1(df_4)
df_4_2 = Page1(pd.DataFrame(df[2]))
df_4_3 = Page1(pd.DataFrame(df[3]))
df_4_4 = Page1(pd.DataFrame(df[4]))
frame = [df_4_1,df_4_2,df_4_3,df_4_4]
sample = pd.concat(frame)

In [ ]:
sample = sample[[0,1,2]].dropna().reset_index(drop = True).drop([18,25,34,79,80,81])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Apr)']

df_15_4 = sample

In [ ]:
df_15_4.shape

In [ ]:
df = tabula.read_pdf(filepath,pages = 5, multiple_tables = True)
df_5 = pd.DataFrame(df[0])

In [ ]:
df_5.columns

In [ ]:
sample = df_5[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39,86,87,88])
sample = Page(sample)
sample.columns = ['Airports','Passengers(May)']
df_15_5 = sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 6, multiple_tables = True)
df_6 = pd.DataFrame(df[0])

In [ ]:
sample = df_6[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Jun)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 7, multiple_tables = True)
df_7 = pd.DataFrame(df[0])

In [ ]:
df_7 = Page1(df_7)

In [ ]:
df_7 = df_7[[0,1,2]].dropna().drop([31,32,33])
df_7 = Page(df_7)
df_7.columns = ['Airports','Passengers(Jun)']

In [ ]:
frame = [sample,df_7]
df_15_6 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 8, multiple_tables = True)
df_8 = pd.DataFrame(df[0])

In [ ]:
df_8.columns

In [ ]:
sample = df_8[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2']].dropna()
sample = Page(sample)
sample.columns = ['Airports','Passengers(Jul)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 9, multiple_tables = True)
df_9 = pd.DataFrame(df[0])

In [ ]:
df_9 = Page1(df_9)
df_9 = df_9[[0,1,2]].dropna().drop([31,32,33])
df_9 = Page(df_9)
df_9.columns = ['Airports','Passengers(Jul)']

In [ ]:
frame = [sample,df_9]
df_15_7 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 10, multiple_tables = True)
df_10 = pd.DataFrame(df[0])

In [ ]:
df_10.columns

In [ ]:
sample = df_10[['Unnamed: 0','Unnamed: 2']].dropna().drop([22,30,40])
sample['Sr.No'] = sample['Unnamed: 0'].str.split(" ", expand = True)[0]
sample['Airports'] = sample['Unnamed: 0'].str.split(" ", expand = True)[1]
sample = sample[['Sr.No','Airports','Unnamed: 2']]
sample = Page(sample)
sample.columns = ['Airports','Passengers(Aug)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 11, multiple_tables = True)
df_11 = pd.DataFrame(df[0])

In [ ]:
df_11 = Page1(df_11)

In [ ]:
df_11 = df_11[[0,1,2]].dropna().drop([32,33,34])
df_11 = Page(df_11)
df_11.columns = ['Airports','Passengers(Aug)']

In [ ]:
frame = [sample,df_11]
df_15_8 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 12, multiple_tables = True)
df_12 = pd.DataFrame(df[0])

In [ ]:
df_12.columns

In [ ]:
sample = df_12[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Sep)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 13, multiple_tables = True)
df_13 = pd.DataFrame(df[0])

In [ ]:
df_13 = Page1(df_13)

In [ ]:
df_13 = df_13[[0,1,2]].dropna().drop([29,30,31])
df_13 = Page(df_13)
df_13.columns = ['Airports','Passengers(Sep)']

In [ ]:
frame = [sample,df_13]
df_15_9 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 14, multiple_tables = True)
df_14 = pd.DataFrame(df[0])

In [ ]:
sample = df_14.dropna()[1:]

sample['Pass'] = sample['PASSENGERS (IN NOS.)'].str.split(" ", expand = True)[0]

sample = sample[['Unnamed: 0','Unnamed: 1','Pass']]
sample = Page(sample)
sample.columns = ['Airports','Passengers(Oct)']

In [ ]:
sample.iloc[1,0] = 'KOLKATA'

In [ ]:
df = tabula.read_pdf(filepath,pages = 15, multiple_tables = True)
df_15 = pd.DataFrame(df[0])

In [ ]:
df_15 = Page1(df_15)
df_15 = df_15[[0,1,2]].dropna().drop([27,28,29])

df_15 = Page(df_15)
df_15.columns = ['Airports','Passengers(Oct)']

In [ ]:
frame = [sample,df_15]
df_15_10 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 16, multiple_tables = True)
df_16 = pd.DataFrame(df[0])

In [ ]:
sample = df_16.dropna()[1:]

sample['Pass'] = sample['PASSENGERS (IN NOS.)'].str.split(" ", expand = True)[0]

sample = sample[['Unnamed: 0','Unnamed: 1','Pass']]
sample = Page(sample)
sample.columns = ['Airports','Passengers(Nov)']

In [ ]:
sample.iloc[1,0] = 'KOLKATA'

In [ ]:
df = tabula.read_pdf(filepath,pages = 17, multiple_tables = True)
df_17 = pd.DataFrame(df[0])

In [ ]:
df_17 = Page1(df_17)
df_17 = df_17[[0,1,2]].dropna().drop([26,27,28])

df_17 = Page(df_17)
df_17.columns = ['Airports','Passengers(Nov)']

In [ ]:
frame = [sample,df_17]
df_15_11 = pd.concat(frame)

In [ ]:
df_15_11.shape

In [ ]:
df = tabula.read_pdf(filepath,pages = 18, multiple_tables = True)
df_18 = pd.DataFrame(df[0])

In [ ]:
df_18.columns

In [ ]:
sample = df_18[['Unnamed: 0', 'Unnamed: 2']].dropna()[1:].drop([22,30,40])
sample ['Sr.No'] = sample['Unnamed: 0'].str.split(" ", expand = True)[0]
sample ['Airports'] = sample['Unnamed: 0'].str.split(" ", expand = True)[1]
sample ['Pass'] = sample['Unnamed: 2'].str.split(" ", expand = True)[0]

In [ ]:
sample = sample[['Sr.No','Airports','Pass']]
sample = Page(sample)
sample.columns = ['Airports','Passengers(Dec)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 19, multiple_tables = True)
df_19 = pd.DataFrame(df[0])

In [ ]:
df_19 = Page1(df_19)

In [ ]:
df_19 = df_19[[0,1,2]].dropna().drop([32,33,34])
df_19 = Page(df_19)
df_19.columns = ['Airports','Passengers(Dec)']

In [ ]:
frame = [sample, df_19]
df_15_12 = pd.concat(frame)

In [ ]:
df_15_12.shape

In [ ]:
Airports = df_15_1['Airports']
frame = [df_15_2,df_15_3,df_15_4,df_15_5,df_15_6,df_15_7,df_15_8,df_15_9,df_15_10,df_15_11,df_15_12]

for a in frame:
    b = a['Airports']
    print(b)
    Airports = Airports.append(b)

In [ ]:
Final = set(Airports)

Final_df = pd.DataFrame(Final)
Final_df.columns = ['Airports']

In [ ]:
Total_15 = pd.merge(left=Final_df, right=df_15_1, how='left', left_on='Airports', right_on='Airports')
Total_15 = Total_15.fillna(0)

frame = [df_15_2,df_15_3,df_15_4,df_15_5,df_15_6,df_15_7,df_15_8,df_15_9,df_15_10,df_15_11,df_15_12]

for a in frame:
    Total_15 = pd.merge(left=Total_15, right=a, how='left', left_on='Airports', right_on='Airports')
    Total_15 = Total_15.fillna(0)


Total_15 = Total_15.set_index('Airports')

Total_15 = Total_15.astype(float)

Total_15

In [ ]:
Total_15['Year'] = 2015

==================

==================





==================

================

In [ ]:
import tabula
import pandas as pd
import numpy as np

filepath = "../Learning/data/Dissertation/Airways/Total_2014.pdf"

In [ ]:
def Page14(df):
    df = df[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1']].dropna().drop([0,21,30,39,59,60,61])
    df = Page(df)
    return df

In [ ]:
df = tabula.read_pdf(filepath,pages = 1, multiple_tables = True)
df1 = pd.DataFrame(df[0])

In [ ]:
df1.columns

In [ ]:
df1 = Page14(df1)

In [ ]:
df = tabula.read_pdf(filepath,pages = 2, multiple_tables = True)
df2 = pd.DataFrame(df[0])

In [ ]:
df2 = Page14(df2)

df2.iloc[1,0] = 'KOLKATA'

In [ ]:
df = tabula.read_pdf(filepath,pages = 3, multiple_tables = True)
df3 = pd.DataFrame(df[0])

In [ ]:
df3 = df3[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1']].dropna().drop([0,21,29,38,58,59,60])
df3 = Page(df3)

In [ ]:
df = tabula.read_pdf(filepath,pages = 4, multiple_tables = True)
df4 = pd.DataFrame(df[0])

In [ ]:
df4 = df4[['ANNEXURE-IIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1']].dropna().drop([0,23,32,41,59,60,61])
df4 = Page(df4)

In [ ]:
df = tabula.read_pdf(filepath,pages = 5, multiple_tables = True)
df5 = pd.DataFrame(df[0])

In [ ]:
df5 = df5[['ANNEXURE-IIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1']].dropna().drop([0,23,32,41,59,60,61])
df5 = Page(df5)

In [ ]:
df = tabula.read_pdf(filepath,pages = 6, multiple_tables = True)
df6 = pd.DataFrame(df[0])

In [ ]:
df6 = df6[['ANNEXURE-IIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1']].dropna().drop([0,23,32,41,59,60,61])
df6 = Page(df6)

In [ ]:
df = tabula.read_pdf(filepath,pages = 7, multiple_tables = True)
df7 = pd.DataFrame(df[0])

In [ ]:
df7.columns

In [ ]:
df7 = df7[['SL. NO.', 'AIRPORT', 'AIRCRAFT MOVEMENTS(IN NOS.)']].dropna().drop([21,29,38,55,56,57])
df7 = Page(df7)

In [ ]:
df = tabula.read_pdf(filepath,pages = 8, multiple_tables = True)
df8 = pd.DataFrame(df[0])

In [ ]:
df8 = df8[['SL. NO.', 'AIRPORT', 'AIRCRAFT MOVEMENTS(IN NOS.)']].dropna().drop([21,29,38,55,56,57])
df8 = Page(df8)

In [ ]:
df8.iloc[1,0] = 'KOLKATA'
df8.iloc[8,0] = 'SRINAGAR'

In [ ]:
df = tabula.read_pdf(filepath,pages = 9, multiple_tables = True)
df9 = pd.DataFrame(df[0])

In [ ]:
df9 = df9[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([22,30,39,56,57,58])
df9 = Page(df9)

In [ ]:
df9.iloc[7,0] = 'SRINAGAR'

In [ ]:
df = tabula.read_pdf(filepath,pages = 10, multiple_tables = True)
df10 = pd.DataFrame(df[0])

In [ ]:
df10 = df10[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([22,30,39,56,57,58])
df10 = Page(df10)

In [ ]:
df = tabula.read_pdf(filepath,pages = 11, multiple_tables = True)
df11 = pd.DataFrame(df[0])

In [ ]:
df11 = df11[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([22,30,39,56,57,58])
df11 = Page(df11)

In [ ]:
df = tabula.read_pdf(filepath,pages = 12, multiple_tables = True)
df12 = pd.DataFrame(df[0])

In [ ]:
df12 = df12[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([22,30,39,56,57,58])
df12 = Page(df12)

In [ ]:
df12.shape

In [ ]:
Airports = df1['Airports']
frame = [df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]

for a in frame:
    b = a['Airports']
    print(b)
    Airports = Airports.append(b)

In [ ]:
Final = set(Airports)

Final_df = pd.DataFrame(Final)
Final_df.columns = ['Airports']

In [ ]:
Total_14 = pd.merge(left=Final_df, right=df1, how='left', left_on='Airports', right_on='Airports')
Total_14 = Total_14.fillna(0)

frame = [df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]

for a in frame:
    Total_14 = pd.merge(left=Total_14, right=a, how='left', left_on='Airports', right_on='Airports')
    Total_14 = Total_14.fillna(0)


Total_14 = Total_14.set_index('Airports')

Total_14 = Total_14.astype(float)

Total_14

In [ ]:
Total_14.columns = ['Passengers(Jan)','Passengers(Feb)','Passengers(Mar)','Passengers(Apr)','Passengers(May)','Passengers(Jun)','Passengers(Jul)','Passengers(Aug)','Passengers(Sep)','Passengers(Oct)','Passengers(Nov)','Passengers(Dec)']

In [ ]:
Total_14['Year'] = 2014

=================

===============

==================




===========

=================

In [ ]:
import tabula
import pandas as pd
import numpy as np

filepath = "../Learning/data/Dissertation/Airways/Total_2013.pdf"

In [ ]:
df = tabula.read_pdf(filepath,pages = 1, multiple_tables = True)
df1 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 2, multiple_tables = True)
df2 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 3, multiple_tables = True)
df3 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 4, multiple_tables = True)
df4 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 5, multiple_tables = True)
df5 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 6, multiple_tables = True)
df6 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 7, multiple_tables = True)
df7 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 8, multiple_tables = True)
df8 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 9, multiple_tables = True)
df9 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 10, multiple_tables = True)
df10 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 11, multiple_tables = True)
df11 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 12, multiple_tables = True)
df12 = pd.DataFrame(df[0])

In [ ]:
df1.columns

In [ ]:
df1 = df1[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1', ]].dropna().drop([1,15,38,57,58,59])
df1 = Page(df1)

df1.iloc[1,0] = 'KOLKATA'

In [ ]:
df2 = df2[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1', ]].dropna().drop([1,15,38,57,58,59])
df2 = Page(df2)

df2.iloc[1,0] = 'KOLKATA'

In [ ]:
df3 = df3[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1', ]].dropna().drop([1,15,23,39,58,59,60])
df3 = Page(df3)

df3.iloc[1,0] = 'KOLKATA'

In [ ]:
df4 = df4[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1', ]].dropna().drop([0,21,29,38,58,59,60])
df4 = Page(df4)

df4.iloc[1,0] = 'KOLKATA'

In [ ]:
df5 = df5[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1', ]].dropna().drop([0,21,29,38,58,59,60])
df5 = Page(df5)

df5.iloc[1,0] = 'KOLKATA'

In [ ]:
df6 = df6[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1', ]].dropna().drop([0,21,29,38,58,59,60])
df6 = Page(df6)

df6.iloc[1,0] = 'KOLKATA'

In [ ]:
df7 = df7[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1', ]].dropna().drop([0,21,29,38,58,59,60])
df7 = Page(df7)

df7.iloc[1,0] = 'KOLKATA'

In [ ]:
df8 = df8[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1', ]].dropna().drop([0,21,29,38,58,59,60])
df8 = Page(df8)

df8.iloc[1,0] = 'KOLKATA'

In [ ]:
df9 = df9[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1', ]].dropna().drop([0,21,30,39,59,60,61])
df9 = Page(df9)

df9.iloc[1,0] = 'KOLKATA'

In [ ]:
df10 = df10[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1', ]].dropna().drop([0,21,30,39,59,60,61])
df10 = Page(df10)

df10.iloc[1,0] = 'KOLKATA'

In [ ]:
df11 = df11[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1', ]].dropna().drop([0,21,30,39,59,60,61])
df11 = Page(df11)

df11.iloc[1,0] = 'KOLKATA'

In [ ]:
df12 = df12[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1', ]].dropna().drop([0,21,30,39,59,60,61])
df12 = Page(df12)

df12.iloc[1,0] = 'KOLKATA'

In [ ]:
for i in list(range(1,len(frame))):
    df = frame[i]
    print(df)

In [ ]:
frame= [ 'df1','df2','df3','df4']

In [ ]:
Airports = df1['Airports']
frame = [df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]

for a in frame:
    b = a['Airports']
    print(b)
    Airports = Airports.append(b)

In [ ]:
Final = set(Airports)

Final_df = pd.DataFrame(Final)
Final_df.columns = ['Airports']

In [ ]:
Total_13 = pd.merge(left=Final_df, right=df1, how='left', left_on='Airports', right_on='Airports')
Total_13 = Total_13.fillna(0)

frame = [df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]

for a in frame:
    Total_13 = pd.merge(left=Total_13, right=a, how='left', left_on='Airports', right_on='Airports')
    Total_13 = Total_13.fillna(0)


Total_13 = Total_13.set_index('Airports')

Total_13 = Total_13.astype(float)

Total_13

In [ ]:
Total_13.columns = ['Passengers(Jan)','Passengers(Feb)','Passengers(Mar)','Passengers(Apr)','Passengers(May)','Passengers(Jun)','Passengers(Jul)','Passengers(Aug)','Passengers(Sep)','Passengers(Oct)','Passengers(Nov)','Passengers(Dec)']

In [ ]:
Total_13['Year'] = 2013

In [ ]:
Total_13

=================

========================

=======================
====


===============================

In [ ]:
import tabula
import pandas as pd
import numpy as np

filepath = "../Learning/data/Dissertation/Airways/Total_2012.pdf"

In [ ]:
df = tabula.read_pdf(filepath,pages = 1, multiple_tables = True)
df1 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 2, multiple_tables = True)
df2 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 3, multiple_tables = True)
df3 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 4, multiple_tables = True)
df4 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 5, multiple_tables = True)
df5 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 6, multiple_tables = True)
df6 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 7, multiple_tables = True)
df7 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 8, multiple_tables = True)
df8 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 9, multiple_tables = True)
df9 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 10, multiple_tables = True)
df10 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 11, multiple_tables = True)
df11 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 12, multiple_tables = True)
df12 = pd.DataFrame(df[0])

In [ ]:
df1.columns

In [ ]:
df1 = df1[['SL. NO.', 'Unnamed: 1']].dropna().drop([16,24,37,57,58,59])
df1['Sr.No'] = df1['SL. NO.'].str.split(" ",expand = True)[0]
df1['Airways'] = df1['SL. NO.'].str.split(" ",expand = True)[1]

In [ ]:
df1 = df1[['Sr.No','Airways','Unnamed: 1']]
df1 = Page(df1)

df1

In [ ]:
df2 = df2[['Unnamed: 0', 'Unnamed: 2']].dropna().drop([16,24,37,57,58,59])
df2['Sr.No'] = df2['Unnamed: 0'].str.split(" ",expand = True)[0]
df2['Airways'] = df2['Unnamed: 0'].str.split(" ",expand = True)[1]
df2 = df2[['Sr.No','Airways','Unnamed: 2']]
df2 = Page(df2)

df2

In [ ]:
df3 = df3[['Unnamed: 0', 'Unnamed: 2']].dropna().drop([16,24,37,57,58,59])
df3['Sr.No'] = df3['Unnamed: 0'].str.split(" ",expand = True)[0]
df3['Airways'] = df3['Unnamed: 0'].str.split(" ",expand = True)[1]
df3 = df3[['Sr.No','Airways','Unnamed: 2']]
df3 = Page(df3)

In [ ]:
df4 = df4[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0','Unnamed: 1']].dropna().drop([0,15,23,37,56,57,58])
df4 = Page(df4)

In [ ]:
df5 = df5[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0','Unnamed: 1']].dropna().drop([0,15,23,37,56,57,58])
df5 = Page(df5)

In [ ]:
df6 = df6[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0','Unnamed: 1']].dropna().drop([0,15,23,37,56,57,58])
df6 = Page(df6)

In [ ]:
df7 = df7[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0','Unnamed: 1']].dropna().drop([0,15,23,37,56,57,58])
df7 = Page(df7)

In [ ]:
df8 = df8[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0','Unnamed: 1']].dropna().drop([0,15,23,37,56,57,58])
df8 = Page(df8)

In [ ]:
df8.iloc[1,0] = 'KOLKATA'

In [ ]:
df9 = df9[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0','Unnamed: 1']].dropna().drop([0,15,23,37,56,57,58])
df9 = Page(df9)

In [ ]:
df9.iloc[1,0] = 'KOLKATA'

In [ ]:
df10 = df10[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0','Unnamed: 1']].dropna().drop([1,15,38,57,58,59])
df10 = Page(df10)
df10.iloc[1,0] = 'KOLKATA'

In [ ]:
df11 = df11[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0','Unnamed: 1']].dropna().drop([1,15,38,57,58,59])
df11 = Page(df11)
df11.iloc[1,0] = 'KOLKATA'

In [ ]:
df12 = df12[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0','Unnamed: 1']].dropna().drop([1,15,38,57,58,59])
df12 = Page(df12)
df12.iloc[1,0] = 'KOLKATA'

In [ ]:
Airports = df1['Airports']
frame = [df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]

for a in frame:
    b = a['Airports']
    print(b)
    Airports = Airports.append(b)

In [ ]:
Final = set(Airports)

Final_df = pd.DataFrame(Final)
Final_df.columns = ['Airports']

In [ ]:
Total_12 = pd.merge(left=Final_df, right=df1, how='left', left_on='Airports', right_on='Airports')
Total_12 = Total_12.fillna(0)

frame = [df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]

for a in frame:
    Total_12 = pd.merge(left=Total_12, right=a, how='left', left_on='Airports', right_on='Airports')
    Total_12 = Total_12.fillna(0)


Total_12 = Total_12.set_index('Airports')

Total_12 = Total_12.astype(float)

Total_12

In [ ]:
Total_12.columns = ['Passengers(Jan)','Passengers(Feb)','Passengers(Mar)','Passengers(Apr)','Passengers(May)','Passengers(Jun)','Passengers(Jul)','Passengers(Aug)','Passengers(Sep)','Passengers(Oct)','Passengers(Nov)','Passengers(Dec)']

In [ ]:
Total_12['Year'] = 2012

In [ ]:
Total_12

===================================
=====================

==============================

=========================================

In [ ]:
import tabula
import pandas as pd
import numpy as np

filepath = "../Learning/data/Dissertation/Airways/Total_2011.pdf"

In [ ]:
df = tabula.read_pdf(filepath,pages = 1, multiple_tables = True)
df1 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 2, multiple_tables = True)
df2 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 3, multiple_tables = True)
df3 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 4, multiple_tables = True)
df4 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 5, multiple_tables = True)
df5 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 6, multiple_tables = True)
df6 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 7, multiple_tables = True)
df7 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 8, multiple_tables = True)
df8 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 9, multiple_tables = True)
df9 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 10, multiple_tables = True)
df10 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 11, multiple_tables = True)
df11 = pd.DataFrame(df[0])

df = tabula.read_pdf(filepath,pages = 12, multiple_tables = True)
df12 = pd.DataFrame(df[0])

In [ ]:
df1.columns

In [ ]:
df1 = df1[['SL. NO.', 'Unnamed: 1']].dropna().drop([16,24,35,57,58,59])
df1['Sr.No'] = df1['SL. NO.'].str.split(" ", expand = True)[0]
df1['Airways'] = df1['SL. NO.'].str.split(" ", expand = True)[1]


df1 = df1[['Sr.No','Airways','Unnamed: 1']]
df1 = Page(df1)

In [ ]:
df2 = df2[['SL. NO.', 'Unnamed: 1']].dropna().drop([16,24,35,57,58,59])
df2['Sr.No'] = df2['SL. NO.'].str.split(" ", expand = True)[0]
df2['Airways'] = df2['SL. NO.'].str.split(" ", expand = True)[1]


df2 = df2[['Sr.No','Airways','Unnamed: 1']]
df2 = Page(df2)

In [ ]:
df3 = df3[['SL. NO.', 'Unnamed: 1']].dropna().drop([16,24,35,57,58,59])
df3['Sr.No'] = df3['SL. NO.'].str.split(" ", expand = True)[0]
df3['Airways'] = df3['SL. NO.'].str.split(" ", expand = True)[1]


df3 = df3[['Sr.No','Airways','Unnamed: 1']]
df3 = Page(df3)

In [ ]:
df4 = df4[['SL. NO.', 'Unnamed: 1']].dropna().drop([16,24,35,57,58,59])
df4['Sr.No'] = df4['SL. NO.'].str.split(" ", expand = True)[0]
df4['Airways'] = df4['SL. NO.'].str.split(" ", expand = True)[1]


df4 = df4[['Sr.No','Airways','Unnamed: 1']]
df4 = Page(df4)

In [ ]:
df5 = df5[['SL. NO.', 'Unnamed: 1']].dropna().drop([16,24,35,57,58,59])
df5['Sr.No'] = df5['SL. NO.'].str.split(" ", expand = True)[0]
df5['Airways'] = df5['SL. NO.'].str.split(" ", expand = True)[1]


df5 = df5[['Sr.No','Airways','Unnamed: 1']]
df5 = Page(df5)

In [ ]:
df6 = df6[['SL. NO.', 'Unnamed: 1']].dropna().drop([16,24,35,57,58,59])
df6['Sr.No'] = df6['SL. NO.'].str.split(" ", expand = True)[0]
df6['Airways'] = df6['SL. NO.'].str.split(" ", expand = True)[1]


df6 = df6[['Sr.No','Airways','Unnamed: 1']]
df6 = Page(df6)

In [ ]:
df7 = df7[['SL. NO.', 'Unnamed: 1']].dropna().drop([16,24,35,57,58,59])
df7['Sr.No'] = df7['SL. NO.'].str.split(" ", expand = True)[0]
df7['Airways'] = df7['SL. NO.'].str.split(" ", expand = True)[1]


df7 = df7[['Sr.No','Airways','Unnamed: 1']]
df7 = Page(df7)

In [ ]:
df8 = df8[['SL. NO.', 'Unnamed: 1']].dropna().drop([16,24,37,57,58,59])
df8['Sr.No'] = df8['SL. NO.'].str.split(" ", expand = True)[0]
df8['Airways'] = df8['SL. NO.'].str.split(" ", expand = True)[1]


df8 = df8[['Sr.No','Airways','Unnamed: 1']]
df8 = Page(df8)

In [ ]:


df9 = df9[['ANNEXURE-IIIB\rTRAFFIC STATISTICS - DOMESTIC PASSENGERS', 'Unnamed: 0',
       'Unnamed: 1']].dropna().drop([0,15,23,36,56,57,58])


df9 = Page(df9)

In [ ]:
df10 = df10[['SL. NO.', 'Unnamed: 1']].dropna().drop([16,24,37,57,58,59])
df10['Sr.No'] = df10['SL. NO.'].str.split(" ", expand = True)[0]
df10['Airways'] = df10['SL. NO.'].str.split(" ", expand = True)[1]


df10 = df10[['Sr.No','Airways','Unnamed: 1']]
df10 = Page(df10)

In [ ]:
df11 = df11[['SL. NO.', 'Unnamed: 1']].dropna().drop([16,24,37,57,58,59])
df11['Sr.No'] = df11['SL. NO.'].str.split(" ", expand = True)[0]
df11['Airways'] = df11['SL. NO.'].str.split(" ", expand = True)[1]


df11 = df11[['Sr.No','Airways','Unnamed: 1']]
df11 = Page(df11)

In [ ]:
df12 = df12[['SL. NO.', 'Unnamed: 1']].dropna().drop([16,24,37,57,58,59])
df12['Sr.No'] = df12['SL. NO.'].str.split(" ", expand = True)[0]
df12['Airways'] = df12['SL. NO.'].str.split(" ", expand = True)[1]


df12 = df12[['Sr.No','Airways','Unnamed: 1']]
df12 = Page(df12)

In [ ]:
df12.shape

In [ ]:
Airports = df1['Airports']
frame = [df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]

for a in frame:
    b = a['Airports']
    print(b)
    Airports = Airports.append(b)

In [ ]:
Final = set(Airports)

Final_df = pd.DataFrame(Final)
Final_df.columns = ['Airports']

In [ ]:
Total_11 = pd.merge(left=Final_df, right=df1, how='left', left_on='Airports', right_on='Airports')
Total_11 = Total_11.fillna(0)

frame = [df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]

for a in frame:
    Total_11 = pd.merge(left=Total_11, right=a, how='left', left_on='Airports', right_on='Airports')
    Total_11 = Total_11.fillna(0)


Total_11 = Total_11.set_index('Airports')

Total_11 = Total_11.astype(float)

Total_11

In [ ]:
Total_11.columns = ['Passengers(Jan)','Passengers(Feb)','Passengers(Mar)','Passengers(Apr)','Passengers(May)','Passengers(Jun)','Passengers(Jul)','Passengers(Aug)','Passengers(Sep)','Passengers(Oct)','Passengers(Nov)','Passengers(Dec)']
Total_11['Year'] = 2011

In [ ]:
print(Total_15.shape)
print(Total_14.shape)
print(Total_13.shape)
print(Total_12.shape)
print(Total_11.shape)

In [ ]:
%store Total_15
%store Total_14
%store Total_13
%store Total_12
%store Total_11