In [ ]:
# Importing the libraries and the required pdf file

import tabula
import pandas as pd
import numpy as np

filepath = "../Learning/data/Dissertation/Airways/Total_2019.pdf"

In [ ]:
# importing the file page of the pdf file

df = tabula.read_pdf(filepath,pages = 1, multiple_tables = True)
df_1 = pd.DataFrame(df[0])

In [ ]:
df_1.columns

In [ ]:
# changing the above dataframe into a required format

sample = df_1[['Unnamed: 0', 'Unnamed: 2']].dropna().reset_index(drop = True).drop([20, 28, 37])

sample['Sr.No'] = sample["Unnamed: 0"].str.split(" ",expand = True)[0]
sample['Airports'] = sample["Unnamed: 0"].str.split(" ",expand = True)[1]

sample = sample[['Sr.No', 'Airports', 'Unnamed: 2']].set_index('Sr.No')
sample.columns = ['Airports','Passengers(Jan)']


sample

In [ ]:
# importing the second page

df = tabula.read_pdf(filepath,pages = 2, multiple_tables = True)
df_2 = pd.DataFrame(df[0])

In [ ]:
df_2.columns

In [ ]:
df_2 = df_2[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)' ]].dropna().drop([49, 58, 59, 60]).set_index('SL. NO.')
df_2.columns = ['Airports','Passengers(Jan)']

frame = [sample, df_2]
df_19_1 = pd.concat(frame, axis = 0)

In [ ]:
df = tabula.read_pdf(filepath,pages = 3, multiple_tables = True)
df_3 = pd.DataFrame(df[0])

In [ ]:
df_3

In [ ]:
df_3.columns

In [ ]:
sample = df_3[['Unnamed: 1', 'Unnamed: 2']].dropna().reset_index(drop = True).drop([0, 1, 22, 38])

sample['Sr.No'] = sample["Unnamed: 1"].str.split(" ",expand = True)[0]
sample['Airports'] = sample["Unnamed: 1"].str.split(" ",expand = True)[1]

sample = sample[['Sr.No', 'Airports', 'Unnamed: 2']].set_index('Sr.No')
sample.columns = ['Airports','Passengers(Feb)']


sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 4, multiple_tables = True)
df_4 = pd.DataFrame(df[0])

In [ ]:
df_4.columns

In [ ]:
df_4 = df_4[['Unnamed: 0', 'Unnamed: 1']].dropna()

In [ ]:
# As the data contains special character, we are writing extra query to remove them

val = df_4["Unnamed: 0"].str.split(" ",expand = True)

for i in range(0,len(val)):
    if val.iloc[i,1] == '(':
        val.iloc[i,1] = val.iloc[i,3]
        

df_4['Sr.No'] = val[0]

df_4['Airports'] = val[1]



df_4 = df_4[['Sr.No', 'Airports', 'Unnamed: 1']].set_index('Sr.No')
df_4.columns = ['Airports','Passengers(Feb)']

df_4

In [ ]:
frame = [sample, df_4]
df_19_2 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 5, multiple_tables = True)
df_5 = pd.DataFrame(df[0])

In [ ]:
sample = df_5[['Unnamed: 1']].dropna().reset_index(drop = True).drop([0, 1, 2, 3, 24, 25, 26, 34, 35, 36, 45, 46, 47])

val = sample['Unnamed: 1'].str.split(" ", expand = True)

for i in range(0, len(val)):
    if pd.notnull(val.iloc[i,3]):
        val.iloc[i,2] = val.iloc[i,3]

sample['Sr.No'] = val[0]
sample['Airports'] = val[1]
sample['Passengers(Mar)'] = val[2]



sample = sample[['Sr.No','Airports','Passengers(Mar)']].set_index('Sr.No')

sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 6, multiple_tables = True)
df_6 = pd.DataFrame(df[0])

In [ ]:
df_6.columns

In [ ]:
df_6 = df_6[['Unnamed: 0', 'Unnamed: 1']].dropna()

In [ ]:
val = df_6["Unnamed: 0"].str.split(" ",expand = True)

for i in range(0,len(val)):
    if val.iloc[i,1] == '(':
        val.iloc[i,1] = val.iloc[i,3]
        

        
df_6['Sr.No'] = val[0]

df_6['Airports'] = val[1]



df_6 = df_6[['Sr.No', 'Airports', 'Unnamed: 1']].set_index('Sr.No')
df_6.columns = ['Airports','Passengers(Mar)']

df_6

In [ ]:
frame = [sample, df_6]
df_19_3 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 7, multiple_tables = True)
df_7 = pd.DataFrame(df[0])

In [ ]:
df_7.columns

In [ ]:
sample = df_7[['Unnamed: 1',  'Unnamed: 3']].dropna().drop([29,39])

In [ ]:
sample['Airports'] = sample['Unnamed: 1'].str.split(" ", expand = True)[1]

In [ ]:
# As the shape of the datafrae is different from the other ones, a different approach is applied.

sample['Unnamed: 3'] = sample['Unnamed: 3'].astype(str)
sample = sample[['Airports','Unnamed: 3']]
sample.columns = ['Airports','Passengers(Apr)']
sample.index = np.arange(1,len(sample)+1)
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 8, multiple_tables = True)
df_8 = pd.DataFrame(df[0])

In [ ]:
df_8.columns

In [ ]:
df_8 = df_8[['Unnamed: 0','Unnamed: 2']].dropna().drop([49,61,65])

In [ ]:
val = df_8["Unnamed: 0"].str.split(" ",expand = True)

for i in range(0,len(val)):
    if val.iloc[i,1] == '(':
        val.iloc[i,1] = val.iloc[i,3]

df_8['Airports'] = val[1]


df_8 = df_8[['Airports','Unnamed: 2']]
df_8.columns = ['Airports','Passengers(Apr)']

In [ ]:
frame = [sample,df_8]
df_19_4 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 9, multiple_tables = True)
df_9 = pd.DataFrame(df[0])

In [ ]:
df_9.columns

In [ ]:
sample = df_9[['Unnamed: 1']].dropna().drop([1,2,3,4,25,26,28,36,37,39,50,51,53])

In [ ]:
val = sample['Unnamed: 1'].str.split(" ", expand = True)

for i in range(0, len(val)):
    if pd.notnull(val.iloc[i,3]):
        val.iloc[i,2] = val.iloc[i,3]

sample['Airports'] = val[1]
sample['Passengers(May)'] = val[2]

sample = sample[['Airports','Passengers(May)']]
sample.index = np.arange(1,len(sample)+1)
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 10, multiple_tables = True)
df_10 = pd.DataFrame(df[0])

In [ ]:
df_10.head(20)

In [ ]:
df_10 = df_10[['Unnamed: 0','Unnamed: 1']].dropna()

In [ ]:
val = df_10["Unnamed: 0"].str.split(" ",expand = True)

for i in range(0,len(val)):
    if val.iloc[i,1] == '(':
        val.iloc[i,1] = val.iloc[i,3]

df_10['Airports'] = val[1]


df_10 = df_10[['Airports','Unnamed: 1']]
df_10.columns = ['Airports','Passengers(May)']

In [ ]:
frame = [sample, df_10]
df_19_5 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 11, multiple_tables = True)
df_11 = pd.DataFrame(df[0])

In [ ]:
df_11.head(20)

In [ ]:
sample = df_11[['Unnamed: 1','Unnamed: 2']].dropna()
sample.index = np.arange(1,len(sample)+1)
sample.columns = ['Airports','Passengers(Jun)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 12, multiple_tables = True)
df_12 = pd.DataFrame(df[0])

In [ ]:
df_12.head(20)

In [ ]:
df_12 = df_12[['Unnamed: 0','Unnamed: 1']].dropna()

In [ ]:
val = df_12["Unnamed: 0"].str.split(" ",expand = True)

for i in range(0,len(val)):
    if val.iloc[i,1] == '(':
        val.iloc[i,1] = val.iloc[i,3]

df_12['Airports'] = val[1]


df_12 = df_12[['Airports','Unnamed: 1']]
df_12.columns = ['Airports','Passengers(Jun)']

In [ ]:
frame = [sample,df_12]
df_19_6 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 13, multiple_tables = True)
df_13 = pd.DataFrame(df[0])

In [ ]:
df_13.head(20)

In [ ]:
sample = df_13[['Unnamed: 2']].dropna().drop([2,4,5,6,28,29,38,40,52,54])

In [ ]:
val = sample['Unnamed: 2'].str.split(" ", expand = True)

for i in range(0, len(val)):
    if pd.notnull(val.iloc[i,2]):
        val.iloc[i,1] = val.iloc[i,2]

sample['Airports'] = val[0]
sample['Passengers(Jul)'] = val[1]

sample = sample[['Airports','Passengers(Jul)']]
sample.index = np.arange(1,len(sample)+1)
sample.iloc[12,0] = 'SRINAGAR'
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 14, multiple_tables = True)
df_14 = pd.DataFrame(df[0])

In [ ]:
df_14.head(20)

In [ ]:
df_14 = df_14[['Unnamed: 0','Unnamed: 1']].dropna()

In [ ]:
val = df_14["Unnamed: 0"].str.split(" ",expand = True)

for i in range(0,len(val)):
    if val.iloc[i,1] == '(':
        val.iloc[i,1] = val.iloc[i,3]

df_14['Airports'] = val[1]


df_14 = df_14[['Airports','Unnamed: 1']]
df_14.columns = ['Airports','Passengers(Jul)']

In [ ]:
frame = [sample,df_14]
df_19_7 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 15, multiple_tables = True)
df_15 = pd.DataFrame(df[0])

In [ ]:
df_15.head(20)

In [ ]:
sample = df_15[['Unnamed: 1','Unnamed: 2']].dropna().drop([27])

In [ ]:
val = sample['Unnamed: 1'].str.split(" ", expand = True)

sample['Airports'] = val[1]
sample = sample[['Airports','Unnamed: 2']]
sample.index = np.arange(1,len(sample)+1)
sample.columns = ['Airports','Passengers(Aug)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 16, multiple_tables = True)
df_16 = pd.DataFrame(df[0])

In [ ]:
df_16.head(20)

In [ ]:
df_16 = df_16[['Unnamed: 0','Unnamed: 1']].dropna()

In [ ]:
val = df_16["Unnamed: 0"].str.split(" ",expand = True)

for i in range(0,len(val)):
    if val.iloc[i,1] == '(':
        val.iloc[i,1] = val.iloc[i,3]

df_16['Airports'] = val[1]


df_16 = df_16[['Airports','Unnamed: 1']]
df_16.columns = ['Airports','Passengers(Aug)']

In [ ]:
frame = [sample,df_16]
df_19_8 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 17, multiple_tables = True)
df_17 = pd.DataFrame(df[0])

In [ ]:
df_17

In [ ]:
sample = df_17[['Unnamed: 1']].dropna().drop([2,4,5,6,27,28,30,38,40,51,52,54])

In [ ]:
val = sample['Unnamed: 1'].str.split(" ", expand = True)

for i in range(0, len(val)):
    if pd.notnull(val.iloc[i,3]):
        val.iloc[i,2] = val.iloc[i,3]

sample['Airports'] = val[1]
sample['Passengers(Sep)'] = val[2]

sample = sample[['Airports','Passengers(Sep)']]
sample.index = np.arange(1,len(sample)+1)

sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 18, multiple_tables = True)
df_18 = pd.DataFrame(df[0])

In [ ]:
df_18.head(20)

In [ ]:
df_18 = df_18[['Unnamed: 0','Unnamed: 1']].dropna()

In [ ]:
val = df_18["Unnamed: 0"].str.split(" ",expand = True)

for i in range(0,len(val)):
    if val.iloc[i,1] == '(':
        val.iloc[i,1] = val.iloc[i,3]

df_18['Airports'] = val[1]


df_18 = df_18[['Airports','Unnamed: 1']]
df_18.columns = ['Airports','Passengers(Sep)']

In [ ]:
frame = [sample,df_18]
df_19_9 = pd.concat(frame)

df_19_9['Passengers(Sep)'] = df_19_9['Passengers(Sep)'].str.replace(",","")

In [ ]:
df = tabula.read_pdf(filepath,pages = 19, multiple_tables = True)
df_19 = pd.DataFrame(df[0])

In [ ]:
df_19.head(20)

In [ ]:
sample = df_19[['Unnamed: 1']].dropna().drop([2,4,5,6,27,28,30,38,39,41,52,53,55])

In [ ]:
val = sample['Unnamed: 1'].str.split(" ", expand = True)

for i in range(0, len(val)):
    if pd.notnull(val.iloc[i,3]):
        val.iloc[i,2] = val.iloc[i,3]

sample['Airports'] = val[1]
sample['Passengers(Oct)'] = val[2]

sample = sample[['Airports','Passengers(Oct)']]
sample.index = np.arange(1,len(sample)+1)

sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 20, multiple_tables = True)
df_20 = pd.DataFrame(df[4])

In [ ]:
df_20.columns

In [ ]:
df_20 = df_20[['AIRPORT', '()\rPASSENGERS (IN NOS.)', 'Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']]

In [ ]:
for i in range(0, len(df_20)):
    if pd.isnull(df_20.iloc[i,1]):
        if pd.isnull(df_20.iloc[i,2]):
            if pd.isnull(df_20.iloc[i,3]):
                df_20.iloc[i,1] = df_20.iloc[i,3]
                
            
        else:
            df_20.iloc[i,1] = df_20.iloc[i,2]

In [ ]:
df_20.columns

In [ ]:
df_20 = df_20[['AIRPORT', '()\rPASSENGERS (IN NOS.)']].dropna().drop([15,57,71,72,74,75]).reset_index(drop = True)

In [ ]:
df_20.iloc[14,0] = 'ADAMPUR'
df_20.iloc[25,0] = 'LAKHIMPUR'
df_20.iloc[32,0] = 'LENGPUI(AIZWAL)'
df_20.iloc[35,0] = 'NASIK'

In [ ]:
df_20.columns = ['Airports','Passengers(Oct)']

In [ ]:
frame = [sample,df_20]
df_19_10 = pd.concat(frame)
df_19_10['Passengers(Oct)'] = df_19_10['Passengers(Oct)'].str.replace(",","")

In [ ]:
df_19_10

In [ ]:
df = tabula.read_pdf(filepath,pages = 21, multiple_tables = True)
df_21 = pd.DataFrame(df[0])

In [ ]:
df_21.head(20)

In [ ]:
sample = df_21[['Unnamed: 1']].dropna().drop([2,4,5,6,27,28,30,38,39,41,52,53,55])

In [ ]:
val = sample['Unnamed: 1'].str.split(" ", expand = True)

for i in range(0, len(val)):
    if pd.notnull(val.iloc[i,3]):
        val.iloc[i,2] = val.iloc[i,3]

sample['Airports'] = val[1]
sample['Passengers(Nov)'] = val[2]

sample = sample[['Airports','Passengers(Nov)']]
sample.index = np.arange(1,len(sample)+1)

sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 22, multiple_tables = True)
df_22 = pd.DataFrame(df[0])

In [ ]:
df_22.head(20)

In [ ]:
df_22 = df_22[['AIRPORT', '()\rPASSENGERS (IN NOS.)', 'Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']]

for i in range(0, len(df_22)):
    if pd.isnull(df_22.iloc[i,0]):
        df_22.iloc[i,0] = df_22.iloc[i,1]
        df_22.iloc[i,1] = df_22.iloc[i,2]

In [ ]:
df_22 = df_22[['AIRPORT','()\rPASSENGERS (IN NOS.)']].dropna().drop([51,52,65,66,68,69]).reset_index(drop = True)
df_22.columns = ['Airports','Passengers(Nov)']



df_22.iloc[7,0] = 'KANPUR(Chakeri)'
df_22.iloc[18,0] = 'ADAMPUR'
df_22.iloc[31,0] = 'LAKHIMPUR'
df_22.iloc[38,0] = 'LENGPUI(AIZWAL)'
df_22.iloc[42,0] = 'NASIK'

df_22

In [ ]:
frame = [sample,df_22]
df_19_11 = pd.concat(frame)
df_19_11['Passengers(Nov)'] = df_19_11['Passengers(Nov)'].str.replace(",","")

In [ ]:
df_19_11

In [ ]:
df = tabula.read_pdf(filepath,pages = 23, multiple_tables = True)
df_23 = pd.DataFrame(df[0])

In [ ]:
df_23.head(20)

In [ ]:
sample = df_23[['Unnamed: 1']].dropna().drop([2,4,5,6,27,29,37,38,40,51,52,54])

In [ ]:
val = sample['Unnamed: 1'].str.split(" ", expand = True)

for i in range(0, len(val)):
    if pd.notnull(val.iloc[i,3]):
        val.iloc[i,2] = val.iloc[i,3]

sample['Airports'] = val[1]
sample['Passengers(Dec)'] = val[2]

sample = sample[['Airports','Passengers(Dec)']]
sample.index = np.arange(1,len(sample)+1)

sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 24, multiple_tables = True)
df_24 = pd.DataFrame(df[0])

In [ ]:
df_24 = df_24[['AIRPORT', '()\rPASSENGERS (IN NOS.)', 'Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']]

for i in range(0, len(df_24)):
    if pd.isnull(df_24.iloc[i,0]):
        df_24.iloc[i,0] = df_24.iloc[i,1]
        df_24.iloc[i,1] = df_24.iloc[i,2]

In [ ]:
for i in range(0, len(df_24)):
    if pd.isnull(df_24.iloc[i,1]):
        df_24.iloc[i,1] = df_24.iloc[i,2]

In [ ]:
for i in range(0, len(df_24)):
    if pd.isnull(df_24.iloc[i,1]):
        if pd.isnull(df_24.iloc[i,2]):
            df_24.iloc[i,1] = df_24.iloc[i,3]

In [ ]:
df_24 = df_24[['AIRPORT','()\rPASSENGERS (IN NOS.)']].dropna().drop([45,47,60,61,63,64]).reset_index(drop = True)

df_24.columns = ['Airports','Passengers(Dec)']




df_24.iloc[7,0] = 'KANPUR(Chakeri)'
df_24.iloc[9,0] = 'GAGGAL(KANGRA)'
df_24.iloc[19,0] = 'ADAMPUR'
df_24.iloc[33,0] = 'BARAPANI'
df_24.iloc[35,0] = 'LAKHIMPUR'
df_24.iloc[42,0] = 'LENGPUI(AIZWAL)'
df_24.iloc[46,0] = 'NASIK'


df_24

In [ ]:
frame = [sample,df_24]
df_19_12 = pd.concat(frame)
df_19_12['Passengers(Dec)'] = df_19_12['Passengers(Dec)'].str.replace(",","")

### Combining all the above prepared dataframe in to a single one for a the year 2019.

In [ ]:
Airports = df_19_1['Airports']
frame = [df_19_2,df_19_3,df_19_4,df_19_5,df_19_6,df_19_7,df_19_8,df_19_9,df_19_10,df_19_11,df_19_12]

for a in frame:
    b = a['Airports']
    print(b)
    Airports = Airports.append(b)

In [ ]:
Final = set(Airports)

Final_df = pd.DataFrame(Final)
Final_df.columns = ['Airports']

In [ ]:
Total_19 = pd.merge(left=Final_df, right=df_19_1, how='left', left_on='Airports', right_on='Airports')
Total_19 = Total_19.fillna(0)

frame = [df_19_2,df_19_3,df_19_4,df_19_5,df_19_6,df_19_7,df_19_8,df_19_9,df_19_10,df_19_11,df_19_12]

for a in frame:
    Total_19 = pd.merge(left=Total_19, right=a, how='left', left_on='Airports', right_on='Airports')
    Total_19 = Total_19.fillna(0)

#Total_19 = Total_19.drop(columns = 'Passengers(Nov)_y')

In [ ]:
Total_19 = Total_19.set_index('Airports')

Total_19 = Total_19.astype(float)

Total_19

======================================================================================================
======================================================================================================


===================

### Repeating the same proces for the next year

In [ ]:
import tabula
import pandas as pd
import numpy as np
filepath = "../Learning/data/Dissertation/Airways/Total_2018.pdf"

In [ ]:
df = tabula.read_pdf(filepath,pages = 1, multiple_tables = True)
df_1 = pd.DataFrame(df[0])

In [ ]:
df_1

In [ ]:
sample = df_1[['Unnamed: 0','Unnamed: 1','Unnamed: 2']].dropna()
sample.columns = ['Sr.No','Airports','Passengers(Jan)']
sample = sample.set_index('Sr.No')

sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 2, multiple_tables = True)
df_2 = pd.DataFrame(df[0])

In [ ]:
df_2 = df_2.columns.to_frame().T.append(df_2, ignore_index=True)
df_2.columns = range(len(df_2.columns))
df_2

In [ ]:
df_2 = df_2[[0,2]].drop(np.arange(26,58)).dropna().drop([20])

df_2['Sr.No'] = df_2[0].str.split(" ",expand = True)[0]
df_2['Airports'] = df_2[0].str.split(" ",expand = True)[1]
df_2['Passengers(Jan)'] = df_2[2].str.split(" ",expand = True)[0]

df_2 = df_2[['Sr.No','Airports','Passengers(Jan)']].set_index('Sr.No')

df_2

In [ ]:
frame = [sample,df_2]
df_18_1 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 3, multiple_tables = True)
df_3 = pd.DataFrame(df[0])

In [ ]:
df_3.head(20)

In [ ]:
sample = df_3[['Unnamed: 0','Unnamed: 2']].dropna().drop([26,34,44])

In [ ]:
sample['Sr.No'] = sample['Unnamed: 0'].str.split(" ",expand = True)[0]
sample['Airports'] = sample['Unnamed: 0'].str.split(" ",expand = True)[1]
sample = sample[['Sr.No','Airports','Unnamed: 2']].set_index('Sr.No')
sample.columns = ['Airports','Passengers(Feb)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 4, multiple_tables = True)
df_4 = pd.DataFrame(df[0])

In [ ]:
df_4 = df_4.columns.to_frame().T.append(df_4, ignore_index=True)
df_4.columns = range(len(df_4.columns))
df_4

In [ ]:
df_4 = df_4[[0,2]].drop(np.arange(26,58)).dropna().drop([20])

df_4['Sr.No'] = df_4[0].str.split(" ",expand = True)[0]
df_4['Airports'] = df_4[0].str.split(" ",expand = True)[1]
df_4['Passengers(Feb)'] = df_4[2].str.split(" ",expand = True)[0]

df_4 = df_4[['Sr.No','Airports','Passengers(Feb)']].set_index('Sr.No')

df_4

In [ ]:
frame = [sample,df_4]
df_18_2 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 5, multiple_tables = True)
df_5 = pd.DataFrame(df[0])

In [ ]:
df_5.head(20)

In [ ]:
sample = df_5[['Unnamed: 0','Unnamed: 2']].dropna().drop([26,34,44])

In [ ]:
sample['Sr.No'] = sample['Unnamed: 0'].str.split(" ",expand = True)[0]
sample['Airports'] = sample['Unnamed: 0'].str.split(" ",expand = True)[1]
sample = sample[['Sr.No','Airports','Unnamed: 2']].set_index('Sr.No')
sample.columns = ['Airports','Passengers(Mar)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 6, multiple_tables = True)
df_6 = pd.DataFrame(df[0])

In [ ]:
df_6.head(20)

In [ ]:
df_6 = df_6.columns.to_frame().T.append(df_6, ignore_index=True)
df_6.columns = range(len(df_6.columns))


df_6

In [ ]:
df_6 = df_6[[0,2]].drop(np.arange(26,58)).dropna().drop([20])

df_6['Sr.No'] = df_6[0].str.split(" ",expand = True)[0]
df_6['Airports'] = df_6[0].str.split(" ",expand = True)[1]
df_6['Passengers(Mar)'] = df_6[2].str.split(" ",expand = True)[0]

df_6 = df_6[['Sr.No','Airports','Passengers(Mar)']].set_index('Sr.No')

In [ ]:
frame = [sample,df_6]
df_18_3 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 7, multiple_tables = True)
df_7 = pd.DataFrame(df[0])

In [ ]:
df_7.head(20)

In [ ]:
sample = df_7[['Unnamed: 0','Unnamed: 2']].dropna().drop([25,33,43])
sample['Sr.No'] = sample['Unnamed: 0'].str.split(" ",expand = True)[0]
sample['Airports'] = sample['Unnamed: 0'].str.split(" ",expand = True)[1]
sample = sample[['Sr.No','Airports','Unnamed: 2']].set_index('Sr.No')
sample.columns = ['Airports','Passengers(Apr)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 8, multiple_tables = True)
df_8 = pd.DataFrame(df[0])

In [ ]:
df_8 = df_8.columns.to_frame().T.append(df_8, ignore_index=True)
df_8.columns = range(len(df_8.columns))


df_8

In [ ]:
df_8 = df_8[1:][[0,1,2]]
df_8.columns = ['Sr.No','Airports','Passengers(Apr)']
df_8 = df_8.set_index('Sr.No')
df_8

In [ ]:
df = tabula.read_pdf(filepath,pages = 9, multiple_tables = True)
df_9 = pd.DataFrame(df[0])

In [ ]:
df_9 = df_9.columns.to_frame().T.append(df_9, ignore_index=True)
df_9.columns = range(len(df_9.columns))


df_9

In [ ]:
df_9 = df_9[[0,2]].dropna().drop([0,1,10,11,12])
df_9['Sr.No'] = df_9[0].str.split(" ",expand = True)[0]
df_9['Airports'] = df_9[0].str.split(" ",expand = True)[1]



df_9 = df_9[['Sr.No','Airports',2]]
df_9 = df_9.set_index('Sr.No')
df_9.columns = ['Airports','Passengers(Apr)']
df_9

In [ ]:
frame = [sample,df_8,df_9]
df_18_4 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 10, multiple_tables = True)
df_10 = pd.DataFrame(df[0])

In [ ]:
df_10.head(20)

In [ ]:
sample = df_10[['Unnamed: 0','Unnamed: 2']].dropna().drop([25,33,43])

In [ ]:
sample['Sr.No'] = sample['Unnamed: 0'].str.split(" ",expand = True)[0]
sample['Airports'] = sample['Unnamed: 0'].str.split(" ",expand = True)[1]
sample = sample[['Sr.No','Airports','Unnamed: 2']].set_index('Sr.No')
sample.columns = ['Airports','Passengers(May)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 11, multiple_tables = True)
df_11 = pd.DataFrame(df[0])

In [ ]:
df_11.columns

In [ ]:
df_11 = df_11[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([48,57,58,59])
df_11.columns = ['Sr.No','Airports','Passengers(May)']
df_11 = df_11.set_index('Sr.No')
df_11

In [ ]:
frame = [sample,df_11]
df_18_5 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 12, multiple_tables = True)
df_12 = pd.DataFrame(df[0])

In [ ]:
df_12.head(20)

In [ ]:
sample = df_12[['Unnamed: 0','Unnamed: 2']].dropna().drop([25,33,43])

In [ ]:
sample['Sr.No'] = sample['Unnamed: 0'].str.split(" ",expand = True)[0]
sample['Airports'] = sample['Unnamed: 0'].str.split(" ",expand = True)[1]
sample = sample[['Sr.No','Airports','Unnamed: 2']].set_index('Sr.No')
sample.columns = ['Airports','Passengers(Jun)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 13, multiple_tables = True)
df_13 = pd.DataFrame(df[0])

In [ ]:
df_13.head(20)

In [ ]:
df_13 = df_13[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([47,56,57,58])
df_13.columns = ['Sr.No','Airports','Passengers(Jun)']
df_13 = df_13.set_index('Sr.No')
df_13

In [ ]:
frame = [sample,df_13]
df_18_6 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 14, multiple_tables = True)
df_14 = pd.DataFrame(df[0])

In [ ]:
df_14.head(20)

In [ ]:
sample = df_14[['Unnamed: 0','Unnamed: 2']].dropna().drop([25,33,43])
sample['Sr.No'] = sample['Unnamed: 0'].str.split(" ",expand = True)[0]
sample['Airports'] = sample['Unnamed: 0'].str.split(" ",expand = True)[1]
sample = sample[['Sr.No','Airports','Unnamed: 2']].set_index('Sr.No')
sample.columns = ['Airports','Passengers(Jul)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 15, multiple_tables = True)
df_15 = pd.DataFrame(df[0])

In [ ]:
df_15.columns

In [ ]:
df_15 = df_15 [['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([49,58,59,60])
df_15.columns = ['Sr.No','Airports','Passengers(Jul)']
df_15 = df_15.set_index('Sr.No')
df_15

In [ ]:
frame = [sample,df_15]
df_18_7 = pd.concat(frame)

============================================================================================================================================================

In [ ]:
# Prepaing a fundtion to clean a particular set of pages in the pdf

def Page(df):
    df.columns = ['Sr.No','Airports','Passengers']
    df = df.set_index('Sr.No')
    return df

In [ ]:
# Prepaing a fundtion to clean a particular set of pages in the pdf

def Main(df):
    df['Sr.No'] = df['Unnamed: 0'].str.split(" ",expand = True)[0]
    df['Airports'] = df['Unnamed: 0'].str.split(" ",expand = True)[1]
    df = df[['Sr.No','Airports','Unnamed: 2']].set_index('Sr.No')
    #df.columns = ['Airports','Passengers(Aug)']
    return df

==============================================================================================================================================

In [ ]:
df = tabula.read_pdf(filepath,pages = 16, multiple_tables = True)
df_16 = pd.DataFrame(df[0])

In [ ]:
df_16.head(20)

In [ ]:
sample = df_16[['Unnamed: 0','Unnamed: 2']].dropna().drop([25,33,43])
sample = Main(sample)
sample.columns = ['Airports','Passengers(Aug)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 17, multiple_tables = True)
df_17 = pd.DataFrame(df[0])

In [ ]:
df_17.head(20)

In [ ]:
df_17 = df_17[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([48,57,58,59])

df_17 = Page(df_17)
df_17.columns = ['Airports','Passengers(Aug)']
df_17

frame = [sample,df_17]
df_18_8 = pd.concat(frame)

In [ ]:
df_18_8

In [ ]:
df = tabula.read_pdf(filepath,pages = 18, multiple_tables = True)
df_18 = pd.DataFrame(df[0])

In [ ]:
df_18.columns

In [ ]:
sample = df_18[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([23,31,41])

sample = Page(sample)
sample.columns = ['Airports','Passengers(Sep)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 19, multiple_tables = True)
df_19 = pd.DataFrame(df[0])

In [ ]:
df_19.head(20)

In [ ]:
df_19 = df_19[['Unnamed: 0','Unnamed: 2']].dropna().drop([51,60,62])
df_19 = Main(df_19)
df_19.columns = ['Airports','Passengers(Sep)']
df_19

In [ ]:
frame = [sample,df_19]
df_18_9 = pd.concat(frame)

In [ ]:
df_18_9

In [ ]:
df = tabula.read_pdf(filepath,pages = 20, multiple_tables = True)
df_20 = pd.DataFrame(df[0])

In [ ]:
df_20.head(20)

In [ ]:
sample = df_20[['Unnamed: 0','Unnamed: 2']].dropna().drop([25,33,43])
sample = Main(sample)
sample.columns = ['Airports','Passengers(Oct)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 21, multiple_tables = True)
df_21 = pd.DataFrame(df[0])

In [ ]:
df_21.columns

In [ ]:
df_21 = df_21[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([48,57,58,59])
df_21 = Page(df_21)
df_21.columns = ['Airports','Passengers(Oct)']
df_21

In [ ]:
frame = [sample,df_21]
df_18_10 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 22, multiple_tables = True)
df_22 = pd.DataFrame(df[0])

In [ ]:
df_22.head(20)

In [ ]:
sample = df_22[['Unnamed: 0','Unnamed: 2']].dropna().drop([25,33,43])
sample = Main(sample)
sample.columns = ['Airports','Passengers(Nov)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 23, multiple_tables = True)
df_23 = pd.DataFrame(df[0])

In [ ]:
df_23.columns

In [ ]:
df_23 = df_23[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([48,57,58,59])
df_23 = Page(df_23)
df_23.columns = ['Airports','Passengers(Nov)']
df_23

In [ ]:
frame = [sample,df_23]
df_18_11 = pd.concat(frame)

In [ ]:
df_18_11

In [ ]:
df = tabula.read_pdf(filepath,pages = 24, multiple_tables = True)
df_24 = pd.DataFrame(df[0])

In [ ]:
df_24.head(40)

In [ ]:
sample = df_24[['Unnamed: 0','Unnamed: 2']].dropna().drop([25,34,44])
sample = Main(sample)
sample.columns = ['Airports','Passengers(Dec)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 25, multiple_tables = True)
df_25 = pd.DataFrame(df[0])

In [ ]:
df_25.head(20)

In [ ]:
df_25 = df_25[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([49,58,59,60])
df_25 = Page(df_25)
df_25.columns = ['Airports','Passengers(Dec)']
df_25

In [ ]:
frame = [sample,df_25]
df_18_12 = pd.concat(frame)

In [ ]:
df_18_12

In [ ]:
Airports = df_18_1['Airports']
frame = [df_18_2,df_18_3,df_18_4,df_18_5,df_18_6,df_18_7,df_18_8,df_18_9,df_18_10,df_18_11,df_18_12]

for a in frame:
    b = a['Airports']
    print(b)
    Airports = Airports.append(b)

In [ ]:
Final = set(Airports)

Final_df = pd.DataFrame(Final)
Final_df.columns = ['Airports']

In [ ]:
Total_18 = pd.merge(left=Final_df, right=df_18_1, how='left', left_on='Airports', right_on='Airports')
Total_18 = Total_18.fillna(0)

frame = [df_18_2,df_18_3,df_18_4,df_18_5,df_18_6,df_18_7,df_18_8,df_18_9,df_18_10,df_18_11,df_18_12]

for a in frame:
    Total_18 = pd.merge(left=Total_18, right=a, how='left', left_on='Airports', right_on='Airports')
    Total_18 = Total_18.fillna(0)


Total_18 = Total_18.set_index('Airports')

Total_18 = Total_18.astype(float)

Total_18

In [ ]:
Total_19['Year'] = 2019
Total_18['Year'] = 2018

In [ ]:
# Saving the above prepared dataframes for the year 2018 and 2019

%store Total_19
%store Total_18