In [ ]:
import tabula
import pandas as pd
import numpy as np

filepath = "../Learning/data/Dissertation/Airways/Total_2017.pdf"

In [ ]:
def Page(df):
    df.columns = ['Sr.No','Airports','Passengers']
    df = df.set_index('Sr.No')
    return df

In [ ]:
def Page1(df):
    df = df.columns.to_frame().T.append(df, ignore_index=True)
    df.columns = range(len(df.columns))
    return df

In [ ]:
def Main(df):
    df['Sr.No'] = df['Unnamed: 0'].str.split(" ",expand = True)[0]
    df['Airports'] = df['Unnamed: 0'].str.split(" ",expand = True)[1]
    df = df[['Sr.No','Airports','Unnamed: 2']].set_index('Sr.No')
    #df.columns = ['Airports','Passengers(Aug)']
    return df

In [ ]:
def Month(sample,df1,name):
    frame = [sample,df1]
    name = pd.concat(frame)
    return name

In [ ]:
Months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Sep','Oct','Nov','Dec']

============================================================



============================================================

In [ ]:
df = tabula.read_pdf(filepath,pages = 1, multiple_tables = True)
df_1 = pd.DataFrame(df[0])

In [ ]:
df_1.columns

In [ ]:
sample = df_1[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Jan)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 2, multiple_tables = True)
df_2 = pd.DataFrame(df[0])

In [ ]:
df_2.head(20)

In [ ]:
df_2 = Page1(df_2)
df_2 = df_2[[0,1,2]]
df_2

In [ ]:
df_2 = df_2.dropna().drop([24,31,32,33])
df_2 = Page(df_2)
df_2.columns = ['Airports','Passengers(Jan)']

In [ ]:
frame = [sample,df_2]
df_17_1 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 3, multiple_tables = True)
df_3 = pd.DataFrame(df[0])

In [ ]:
df_3.columns

In [ ]:
sample = df_3[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Feb)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 4, multiple_tables = True)
df_4 = pd.DataFrame(df[0])

In [ ]:
df_4.head(20)

In [ ]:
df_4 = Page1(df_4)
df_4 = df_4[[0,1,2]]
df_4 = Page(df_4)

In [ ]:
frame = [sample,df_4]
df_17_2 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 5, multiple_tables = True)
df_5 = pd.DataFrame(df[0])

In [ ]:
sample = df_5[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Mar)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 6, multiple_tables = True)
df_6 = pd.DataFrame(df[0])

In [ ]:
df_6.head(20)

In [ ]:
df_6 = Page1(df_6)
df_6 = df_6[[0,1,2]]

In [ ]:
df_6 = df_6.dropna().drop([24,31,32,33])
df_6 = Page(df_6)
df_6.columns = ['Airports','Passengers(Mar)']

In [ ]:
frame = [sample,df_6]
df_17_3 = pd.concat(frame)

In [ ]:
df_17_3

In [ ]:
df = tabula.read_pdf(filepath,pages = 7, multiple_tables = True)
df_7 = pd.DataFrame(df[1])

In [ ]:
df_7.head(20)

In [ ]:
df_7_1 = Page1(df_7)
df_7_2 = Page1(pd.DataFrame(df[2]))
df_7_3 = Page1(pd.DataFrame(df[3]))
df_7_4 = Page1(pd.DataFrame(df[4]))

frame = [df_7_1,df_7_2,df_7_3,df_7_4]
df_7 = pd.concat(frame)

df_7 = df_7[[0,1,2]].dropna().reset_index(drop = True)
sample = df_7.drop([18,25,34])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Apr)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 8, multiple_tables = True)
df_8 = pd.DataFrame(df[0])

In [ ]:
df_8.head(20)

In [ ]:
df_8_1 = Page1(df_8)
df_8_2 = Page1(pd.DataFrame(df[1]))
frame = [df_8_1,df_8_2]
df_8 = pd.concat(frame)

df_8 = df_8[[0,1,2]].dropna().reset_index(drop = True)
df_8 = df_8.drop([28,33,34,35])
df_8 = Page(df_8)
df_8.columns = ['Airports','Passengers(Apr)']

df_8

In [ ]:
frame = [sample,df_8]
df_17_4 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 9, multiple_tables = True)
df_9 = pd.DataFrame(df[1])

In [ ]:
df_9.head(20)

In [ ]:
df_9_1 = Page1(df_9)
df_9_2 = Page1(pd.DataFrame(df[2]))
df_9_3 = Page1(pd.DataFrame(df[3]))
df_9_4 = Page1(pd.DataFrame(df[4]))

frame = [df_9_1,df_9_2,df_9_3,df_9_4]
df_9 = pd.concat(frame)

df_9 = df_9[[0,1,2]].dropna().reset_index(drop = True)
sample = df_9.drop([18,25,34])
sample = Page(sample)
sample.columns = ['Airports','Passengers(May)']
sample

In [ ]:
df = tabula.read_pdf(filepath,pages = 10, multiple_tables = True)
df_10 = pd.DataFrame(df[0])

In [ ]:
df_10

In [ ]:
df_10_1 = Page1(df_10)
df_10_2 = Page1(pd.DataFrame(df[1]))
frame = [df_10_1,df_10_2]
df_10 = pd.concat(frame)

df_10 = df_10[[0,1,2]].dropna().reset_index(drop = True)
df_10 = df_10.drop([28,33,34,35])
df_10 = Page(df_10)
df_10.columns = ['Airports','Passengers(May)']

df_10

In [ ]:
frame = [sample,df_10]
df_17_5 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 11, multiple_tables = True)
df_11 = pd.DataFrame(df[1])

In [ ]:
df_11

In [ ]:
def Page_1(df,df1):
    df_1 = Page1(df1)
    df_2 = Page1(pd.DataFrame(df[2]))
    df_3 = Page1(pd.DataFrame(df[3]))
    df_4 = Page1(pd.DataFrame(df[4]))

    frame = [df_1,df_2,df_3,df_4]
    df_ = pd.concat(frame)

    df_ = df_[[0,1,2]].dropna().reset_index(drop = True)
    sample = df_.drop([18,25,34])
    sample = Page(sample)
    #sample.columns = ['Airports','Passengers(May)']
    return sample

In [ ]:
def Page_2(df,df1):
    df_1 = Page1(df1)
    df_2 = Page1(pd.DataFrame(df[1]))
    frame = [df_1,df_2]
    df_ = pd.concat(frame)


    return df_

In [ ]:
sample = Page_1(df,df_11)

In [ ]:
sample.columns = ['Airports','Passengers(Jun)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 12, multiple_tables = True)
df_12 = pd.DataFrame(df[0])

In [ ]:
df_12

In [ ]:
df_12 = Page_2(df,df_12)

In [ ]:
df_12 = df_12[[0,1,2]].dropna().reset_index(drop = True)
df_12 = df_12.drop([27,32,33,34])
df_12 = Page(df_12)
df_12.columns = ['Airports','Passengers(Jun)']
df_12

In [ ]:
frame = [sample,df_12]
df_17_6 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 13, multiple_tables = True)
df_13 = pd.DataFrame(df[1])

In [ ]:
df_13

In [ ]:
sample = Page_1(df,df_13)

In [ ]:
sample.columns = ['Airports','Passengers(Jul)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 14, multiple_tables = True)
df_14 = pd.DataFrame(df[0])

In [ ]:
df_14

In [ ]:
df_14 = Page_2(df,df_14)

In [ ]:
df_14 = df_14[[0,1,2]].dropna().reset_index(drop = True).drop([27,32,33,34])
df_14 = Page(df_14)
df_14.columns = ['Airports','Passengers(Jul)']

In [ ]:
frame = [sample,df_14]
df_17_7 = pd.concat(frame)

In [ ]:
df_17_7

In [ ]:
df = tabula.read_pdf(filepath,pages = 15, multiple_tables = True)
df_15 = pd.DataFrame(df[1])

In [ ]:
df_15

In [ ]:
sample = Page_1(df,df_15)

In [ ]:
sample.columns = ['Airports','Passengers(Aug)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 16, multiple_tables = True)
df_16 = pd.DataFrame(df[0])

In [ ]:
df_16

In [ ]:
df_16 = Page_2(df,df_16)

In [ ]:
df_16 = df_16[[0,1,2]].dropna().reset_index(drop = True).drop([27,32,33,34])
df_16 = Page(df_16)
df_16.columns = ['Airports','Passengers(Aug)']

In [ ]:
frame = [sample,df_16]
df_17_8 = pd.concat(frame)

In [ ]:
df_17_8

In [ ]:
df = tabula.read_pdf(filepath,pages = 17, multiple_tables = True)
df_17 = pd.DataFrame(df[0])

In [ ]:
df_17

In [ ]:
df_17 = df_17.dropna()
df_17['Passengers'] = df_17['PASSENGERS (IN NOS.)'].str.split(" ", expand = True)[0]

In [ ]:
df_17 = df_17[['Unnamed: 0', 'Unnamed: 1', 'Passengers']]

In [ ]:
sample = Page(df_17)

In [ ]:
sample.columns = ['Airports','Passengers(Sep)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 18, multiple_tables = True)
df_18 = pd.DataFrame(df[0])

In [ ]:
df_18 = Page1(df_18)

In [ ]:
df_18 = df_18[[0,2]].dropna().drop([34,40,41,42])
df_18['Sr.No'] = df_18[0].str.split(" ",expand = True)[0]
df_18['Airports'] = df_18[0].str.split(" ",expand = True)[1]

In [ ]:
df_18 = df_18[['Sr.No','Airports',2]].set_index('Sr.No')
df_18.columns = ['Airports','Passengers(Sep)']

In [ ]:
frame = [sample,df_18]
df_17_9 = pd.concat(frame)

In [ ]:
df_17_9

In [ ]:
df = tabula.read_pdf(filepath,pages = 19, multiple_tables = True)
df_19 = pd.DataFrame(df[0])

In [ ]:
df_19.columns

In [ ]:
df_19 = df_19[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
df_19.columns = ['Sr.No','Airports','Passengers(Oct)']
df_19 = df_19.set_index('Sr.No')

In [ ]:
df = tabula.read_pdf(filepath,pages = 20, multiple_tables = True)
df_20 = pd.DataFrame(df[0])

In [ ]:
df_20 = Page1(df_20)

In [ ]:
df_20 = df_20[[0,1,2]].drop(list(range(35,62))).dropna().drop(29)
df_20 = Page(df_20)
df_20.columns  = ['Airports','Passengers(Oct)']

In [ ]:
frame = [df_19,df_20]
df_17_10 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 21, multiple_tables = True)
df_21 = pd.DataFrame(df[0])

In [ ]:
df_21 = df_21[['Unnamed: 0','Unnamed: 1','Unnamed: 2']].dropna()

In [ ]:
df_21 = Page(df_21)
df_21.columns = ['Airports','Passengers(Nov)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 22, multiple_tables = True)
df_22 = pd.DataFrame(df[0])

In [ ]:
df_22 = Page1(df_22)

In [ ]:
df_22 = df_22[[0,2]].dropna().drop([31,37,38,39])
df_22['Sr.No'] = df_22[0].str.split(" ", expand = True)[0]
df_22['Airports'] = df_22[0].str.split(" ", expand = True)[1]

df_22 = df_22[['Sr.No','Airports',2]]
df_22 = Page(df_22)
df_22.columns = ['Airports','Passengers(Nov)']

In [ ]:
frame = [df_21,df_22]
df_17_11 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 23, multiple_tables = True)
df_23 = pd.DataFrame(df[0])

In [ ]:
df_23.columns

In [ ]:
df_23 = df_23[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2']].dropna()
df_23 = Page(df_23)

In [ ]:
df_23.columns = ['Airports','Passengers(Dec)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 24, multiple_tables = True)
df_24 = pd.DataFrame(df[0])

In [ ]:
df_24 = Page1(df_24)

In [ ]:
df_24 = df_24[[0,2]].dropna().drop([20,26,27,28])
df_24['Sr.No'] = df_24[0].str.split(" ", expand = True)[0]
df_24['Airports'] = df_24[0].str.split(" ", expand = True)[1]
df_24 = df_24[['Sr.No','Airports',2]]
df_24.columns = ['Sr.No','Airport','Passengers(Dec)']
df_24 = df_24.set_index('Sr.No')

In [ ]:
frame = [df_23,df_24]
df_17_12 = pd.concat(frame)

In [ ]:
df_17_10.shape

In [ ]:
Airports = df_17_1['Airports']
frame = [df_17_2,df_17_3,df_17_4,df_17_5,df_17_6,df_17_7,df_17_8,df_17_9,df_17_10,df_17_11,df_17_12]

for a in frame:
    b = a['Airports']
    print(b)
    Airports = Airports.append(b)

In [ ]:
Final = set(Airports)

Final_df = pd.DataFrame(Final)
Final_df.columns = ['Airports']

In [ ]:
Total_17 = pd.merge(left=Final_df, right=df_17_1, how='left', left_on='Airports', right_on='Airports')
Total_17 = Total_17.fillna(0)

frame = [df_17_2,df_17_3,df_17_4,df_17_5,df_17_6,df_17_7,df_17_8,df_17_9,df_17_10,df_17_11,df_17_12]

for a in frame:
    Total_17 = pd.merge(left=Total_17, right=a, how='left', left_on='Airports', right_on='Airports')
    Total_17 = Total_17.fillna(0)


Total_17 = Total_17.set_index('Airports')

Total_17 = Total_17.astype(float)

Total_17

In [ ]:
Total_17 = Total_17[1:]

In [ ]:
Total_17 = Total_17.drop(columns = ['Passengers','Airport'])

In [ ]:
Total_17.info()

======================

======================




======================

======================

In [ ]:
import tabula
import pandas as pd
import numpy as np

filepath = "../Learning/data/Dissertation/Airways/Total_2016.pdf"

In [ ]:
df = tabula.read_pdf(filepath,pages = 1, multiple_tables = True)
df_1 = pd.DataFrame(df[0])

In [ ]:
df_1.columns

In [ ]:
sample = df_1[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)

In [ ]:
sample.iloc[1,0] = 'KOLKATA'
sample.columns = ['Airports','Passengers(Jan)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 2, multiple_tables = True)
df_2 = pd.DataFrame(df[0])

In [ ]:
df_2 = Page1(df_2)

In [ ]:
df_2 = df_2[[0,1,2]].dropna().drop([32,33,34])
df_2 = Page(df_2)
df_2.columns = ['Airports','Passengers(Jan)']

In [ ]:
frame = [sample,df_2]
df_16_1 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 3, multiple_tables = True)
df_3 = pd.DataFrame(df[0])

In [ ]:
df_3.columns

In [ ]:
sample = df_3[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Feb)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 4, multiple_tables = True)
df_4 = pd.DataFrame(df[0])

In [ ]:
df_4 = Page1(df_4)

In [ ]:
df_4 = df_4[[0,1,2]].dropna().drop([28,29,30])
df_4 = Page(df_4)
df_4.columns = ['Airports','Passengers(Feb)']

In [ ]:
frame = [sample,df_4]
df_16_2 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 5, multiple_tables = True)
df_5 = pd.DataFrame(df[0])

In [ ]:
df_5.columns

In [ ]:
sample = df_5[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Mar)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 6, multiple_tables = True)
df_6 = pd.DataFrame(df[0])

In [ ]:
df_6 = Page1(df_6)

In [ ]:
df_6 = df_6[[0,1,2]].dropna().drop([28,29,30])
df_6 = Page(df_6)
df_6.columns = ['Airports','Passengers(Mar)']

In [ ]:
frame = [sample,df_6]
df_16_3 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 7, multiple_tables = True)
df_7 = pd.DataFrame(df[1])

In [ ]:
df_7_1 = Page1(df_7)
df_7_2 = Page1(pd.DataFrame(df[2]))
df_7_3 = Page1(pd.DataFrame(df[3]))
df_7_4 = Page1(pd.DataFrame(df[4]))

In [ ]:
frame = [df_7_1,df_7_2,df_7_3,df_7_4]
sample = pd.concat(frame)

In [ ]:
sample = sample[[0,1,2]].reset_index(drop = True).dropna().drop([18,25,34])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Apr)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 8, multiple_tables = True)
df_8 = pd.DataFrame(df[0])

In [ ]:
df_8 = Page1(df_8)

In [ ]:
df_8_1 = Page1(pd.DataFrame(df[1]))

In [ ]:
df_8_1 = df_8_1.dropna()[[0,1,2]]

In [ ]:
frame = [df_8,df_8_1]
df_8 = pd.concat(frame)

In [ ]:
df_8 = df_8[[0,1,2]].drop(24)
df_8 = Page(df_8)
df_8.columns = ['Airports','Passengers(Apr)']

In [ ]:
frame = [sample,df_8]
df_16_4 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 9, multiple_tables = True)
df_9 = pd.DataFrame(df[0])

In [ ]:
df_9.columns

In [ ]:
sample = df_9[['Unnamed: 0', 'Unnamed: 1', 'PASSENGERS (IN NOS.)']].dropna()
sample['Pass'] = sample['PASSENGERS (IN NOS.)'].str.split(" ", expand = True)[0]

In [ ]:
sample = sample[['Unnamed: 0', 'Unnamed: 1', 'Pass']]
sample = Page(sample)
sample.columns = ['Airports','Passengers(May)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 10, multiple_tables = True)
df_10 = pd.DataFrame(df[0])

In [ ]:
df_10 = Page1(df_10)

In [ ]:
df_10 = df_10[[0,2]].dropna().drop([24,31,32,33])
df_10['Sr.No'] = df_10[0].str.split(" ", expand = True)[0]
df_10['Airports'] = df_10[0].str.split(" ", expand = True)[1]
df_10 = df_10[['Sr.No','Airports',2]]
df_10 = Page(df_10)
df_10.columns = ['Airports','Passengers(May)']

In [ ]:
frame = [sample,df_10]
df_16_5 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 11, multiple_tables = True)
df_11 = pd.DataFrame(df[0])

In [ ]:
df_11.columns

In [ ]:
sample = df_11[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Jun)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 12, multiple_tables = True)
df_12 = pd.DataFrame(df[0])

In [ ]:
df_12 = Page1(df_12)

In [ ]:
df_12 = df_12[[0,1,2]].dropna().drop([25,32,33,34])
df_12 = Page(df_12)
df_12.columns = ['Airports','Passengers(Jun)']

In [ ]:
frame = [sample,df_12]
df_16_6 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 13, multiple_tables = True)
df_13 = pd.DataFrame(df[0])

In [ ]:
df_13.columns

In [ ]:
sample = df_13[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Jul)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 14, multiple_tables = True)
df_14 = pd.DataFrame(df[0])

In [ ]:
df_14 = Page1(df_14)

In [ ]:
df_14 = df_14[[0,1,2,]].dropna().drop([24,31,32,33])
df_14 = Page(df_14)
df_14.columns = ['Airports','Passengers(Jul)']

In [ ]:
frame = [sample,df_14]
df_16_7 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 15, multiple_tables = True)
df_15 = pd.DataFrame(df[0])

In [ ]:
df_15.columns

In [ ]:
sample = df_15[[ 'SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Aug)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 16, multiple_tables = True)
df_16 = pd.DataFrame(df[0])

In [ ]:
df_16 = Page1(df_16)

In [ ]:
df_16 = df_16[[0,1,2]].dropna().drop([24,31,32,33])
df_16 = Page(df_16)
df_16.columns = ['Airports','Passengers(Aug)']

In [ ]:
frame = [sample,df_16]
df_16_8 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 17, multiple_tables = True)
df_17 = pd.DataFrame(df[0])

In [ ]:
df_17.columns

In [ ]:
sample = df_17[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Sep)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 18, multiple_tables = True)
df_18 = pd.DataFrame(df[0])

In [ ]:
df_18 = Page1(df_18)

In [ ]:
df_18 = df_18[[0,1,2]].dropna().drop([24,31,32,33])
df_18 = Page(df_18)
df_18.columns = ['Airports','Passengers(Sep)']

In [ ]:
frame = [sample,df_18]
df_16_9 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 19, multiple_tables = True)
df_19 = pd.DataFrame(df[0])

In [ ]:
df_19.columns

In [ ]:
sample = df_19[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Oct)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 20, multiple_tables = True)
df_20 = pd.DataFrame(df[0])

In [ ]:
df_20 = Page1(df_20)

In [ ]:
df_20 = df_20[[0,1,2]].dropna().drop([24,31,32,33])
df_20 = Page(df_20)
df_20.columns = ['Airports','Passengers(Oct)']

In [ ]:
frame = [sample,df_20]
df_16_10 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 21, multiple_tables = True)
df_21 = pd.DataFrame(df[0])

In [ ]:
df_21.columns

In [ ]:
sample = df_21[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Nov)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 22, multiple_tables = True)
df_22 = pd.DataFrame(df[0])

In [ ]:
df_22 = Page1(df_22)

In [ ]:
df_22 = df_22[[0,1,2]].dropna().drop([24,31,32,33])
df_22 = Page(df_22)
df_22.columns = ['Airports','Passengers(Nov)']

In [ ]:
frame = [sample,df_22]
df_16_11 = pd.concat(frame)

In [ ]:
df = tabula.read_pdf(filepath,pages = 23, multiple_tables = True)
df_23 = pd.DataFrame(df[0])

In [ ]:
sample = df_23[['SL. NO.', 'AIRPORT', 'PASSENGERS (IN NOS.)']].dropna().drop([21,29,39])
sample = Page(sample)
sample.columns = ['Airports','Passengers(Dec)']

In [ ]:
df = tabula.read_pdf(filepath,pages = 24, multiple_tables = True)
df_24 = pd.DataFrame(df[0])

In [ ]:
df_24 = Page1(df_24)
df_24 = df_24[[0,1,2]].dropna().drop([24,31,32,33])
df_24 = Page(df_24)
df_24.columns = ['Airports','Passengers(Dec)']

In [ ]:
frame = [sample,df_24]
df_16_12 = pd.concat(frame)

In [ ]:
Airports = df_16_1['Airports']
frame = [df_16_2,df_16_3,df_16_4,df_16_5,df_16_6,df_16_7,df_16_8,df_16_9,df_16_10,df_16_11,df_16_12]

for a in frame:
    b = a['Airports']
    print(b)
    Airports = Airports.append(b)

In [ ]:
Final = set(Airports)

Final_df = pd.DataFrame(Final)
Final_df.columns = ['Airports']

In [ ]:
Total_16 = pd.merge(left=Final_df, right=df_16_1, how='left', left_on='Airports', right_on='Airports')
Total_16 = Total_16.fillna(0)

frame = [df_16_2,df_16_3,df_16_4,df_16_5,df_16_6,df_16_7,df_16_8,df_16_9,df_16_10,df_16_11,df_16_12]

for a in frame:
    Total_16 = pd.merge(left=Total_16, right=a, how='left', left_on='Airports', right_on='Airports')
    Total_16 = Total_16.fillna(0)


Total_16 = Total_16.set_index('Airports')

Total_16 = Total_16.astype(float)

Total_16

In [ ]:
Total_17['Year'] = 2017
Total_16['Year'] = 2016

In [ ]:
%store Total_17
%store Total_16