### Importing the Panda and numpy libraries

In [ ]:
import pandas as pd
import numpy as np

### Uploading the required Roadway data in Excel format

In [ ]:
df = pd.ExcelFile("../Learning/data/Table-20.1_1.xlsx")

df1 = pd.read_excel(df, 'Table 20.1(State Wise)')
df1.columns = df1.iloc[5]
df1 = df1[6:48]

## Getting the list of all the states

In [ ]:
var = set(df1.dropna()[1:]['State /Union Territory'])
var

### Sample view of the uploaded data

In [ ]:
df1.head(30)

## Setting the State as the Index

In [ ]:
df1 = df1.set_index('State /Union Territory')

## Dividing the dataframe into separate ones depending on the vehicle type

In [ ]:
df_1 = df1.iloc[:,:8]
df11 = df_1.iloc[:,0]
df11_df = pd.DataFrame(df11)

df_2 = df1.iloc[:,8:16]
df_3 = df1.iloc[:,16:24]
df_4 = df1.iloc[:,24:32]
df_5 = df1.iloc[:,32:40]
df_6 = df1.iloc[:,40:48]
df_7 = df1.iloc[:,48:56]
df_8 = df1.iloc[:,56:64]

## Adding a new column with the type details

In [ ]:
df_1['Type'] = df_1.iloc[0,0]
df_2['Type'] = df_2.iloc[0,0]
df_3['Type'] = df_3.iloc[0,0]
df_4['Type'] = df_4.iloc[0,0]
df_5['Type'] = df_5.iloc[0,0]
df_6['Type'] = df_6.iloc[0,0]
df_7['Type'] = df_7.iloc[0,0]
df_8['Type'] = df_8.iloc[0,0]

## Creating a new dataframe 'df_new'

In [ ]:
frame = [df_1, df_2,df_3, df_4]
df_new = pd.concat(frame)

## Creating a new dataframe 'df_new1'

In [ ]:
frame = [df_5, df_6,df_7, df_8]
df_new1 = pd.concat(frame)

In [ ]:
df_new

## Naming all the required columns and dropping all the Null values

In [ ]:
df_new.columns = ['2009','2010','2011','2012','2013','2014','2015','2016','Types']
df_new1.columns = ['2009','2010','2011','2012','2013','2014','2015','2016','Types']

df_new =  df_new.dropna()
df_new = df_new[2:]
#sample


df_new1 =  df_new1.dropna()
df_new1 = df_new1[2:]

In [ ]:
df_new = df_new.drop([1], axis = 0)

df_new = df_new.reset_index().dropna().set_index('State /Union Territory')

In [ ]:
df_new1 = df_new1.drop([1], axis = 0)

df_new1 = df_new1.reset_index().dropna().set_index('State /Union Territory')

## Removing all the special characters using the string module

In [ ]:
import string

In [ ]:
months = df_new.columns
for col in months:
    for punct in string.punctuation:
        df_new[col] = df_new[col].replace(punct, ' ')
        df_new1[col] = df_new1[col].replace(punct, ' ')

In [ ]:
punct = ['â€¦', ' ']
for char in punct:
    df_new = df_new.replace(to_replace = char, value = 0.0) 
    df_new1 = df_new1.replace(to_replace = char, value = 0.0)

## Formating the remaining data

In [ ]:
for i in list(range(0,len(df_new))):
    if df_new.iloc[i,8] == 'Goods Carrier Vehicles(a)':
        if df_new.iloc[i,3] == '281995$':
            df_new.iloc[i,3] = '281995'

In [ ]:
df_new['2012'] = df_new['2012'].astype(float)

In [ ]:
df_new.info()

In [ ]:
df_new1[df_new1['2012'] == '7939#']

In [ ]:
sample = df_new1

In [ ]:
for i in list(range(0,len(df_new1))):
    if df_new1.iloc[i,8] == 'Miscellaneous(b)':
        if df_new1.iloc[i,3] == '7939#':
            df_new1.iloc[i,3] = '7939'
            #print('Hello')
        if df_new1.iloc[i,3] == '532^':
            df_new1.iloc[i,3] = '532'
            #print('Wasssup')
        if df_new1.iloc[i,3] == '196#':
            df_new1.iloc[i,3] = '196'
            #print('Wasssup')

In [ ]:
df_new1.loc[' A. & N. Islands']

In [ ]:
df_new1['2012'] = df_new1['2012'].astype(float)

In [ ]:
df_new1.info()

=======================
================================================

================================================
=======================

In [ ]:
for r in var:
    a = df_new.loc[r]
    b = df_new1.loc[r]
    #b = df[df["SUBDIVISION"] == r]
    sample1 = pd.DataFrame(a)
    sample2 = pd.DataFrame(b)
    frames = [sample1, sample2]
    sample = pd.concat(frames)
    print(sample)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
set(df_new['Types'])

In [ ]:
# Analyzing the bus registration in the country

sample = df_new[df_new['Types'] == 'Buses ']

In [ ]:
set(sample.index)

In [ ]:
# Plotting overall data for 2009-2016

sample_plot = sample.plot()
sample_plot.tick_params(axis='x', rotation=90)

In [ ]:
sample1 = sample['2009']

In [ ]:
sample1_df = pd.DataFrame(sample1)

In [ ]:
sample1_df.plot()

In [ ]:
sample = df_new1.loc[' Maharashtra'].iloc[2,:]

In [ ]:
sample = df_new1[df_new1['Types'] == 'Cars']

In [ ]:
df_new1.iloc[:,1]

In [ ]:
var = list(var)

In [ ]:
# Plotting all the vehicles registered in the below 3 states

frame = [' Maharashtra',' Madhya Pradesh','Uttar Pradesh']
for r in var:
    x = sample.loc[r][:-1].astype(int)
    x_plot = x.plot()
    #x_plot.set_xlabel('Amount of Rainfall ', fontsize = 25)
    #x_plot.set_ylabel('Year', fontsize = 25)

In [ ]:
df_new.shape

In [ ]:
df_new1.shape

In [ ]:
df_new.to_csv('../Learning/data/Dissertation/Roadways/roadway1.csv')

In [ ]:
df_new1.to_csv('../Learning/data/Dissertation/Roadways/roadway2.csv')